
@{
    ViewData["Title"] = "Register";
}

<h1>Welcome @ViewData["name"]</h1>

Thank you @ViewData["name"] for becoming a memeber of the Coffee Perks Club . Your information is as follows:<br />
Username: @ViewData["username"] <br /> 
Email Address: @ViewData["email"]<br />
@ViewData["offers"] to receiving emails

