

@{
    ViewData["Title"] = "Register";
}

<h1>Welcome @Model.FirstName @Model.LastName</h1>
<p>Thank you for joining Coffee Perks!</p>
<p>Your User Information is as follow:</p>
<div>
    <ul>
        <li>
            User Name: @Model.UserName
        </li>
        <li>
            Primary Email Address: @Model.Email
        </li>
        <li>
            Password: @Model.Password
        </li>
        <li>
            Birthday: @Model.BirthDate
        </li>
        <li>
            Receive Emails: @Model.Offers
        </li>
        <li>
            Phone Number: @Model.Phone
        </li>
        <li>
            FeedBack: @Model.FeedBack
        </li>
    </ul>

    <a asp-controller="Order" asp-action="Index">Order Here</a>
   
    

</div>



